body {
    margin: 0;
    background-color: #97d8bd
}


img{
    width: 100%;
}

.content {
    width: 65%;
    margin: auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: green;
}

h1 {
    font-size: 100px;
    margin: 0px;
}

h3 {
    font-size: 60px;
    margin: 0px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 40px;
}

p {
    font-size: 60px;
    margin: 0px;
}

#answer {
    font-size: 75px;
    font-weight: bolder;
    margin: 0px;
}